$white: #fff;
$black: #000;

$background: #f8f9fa;
$background-hover: #f2f2f2;
$background-active: #e8e8e8;
$background-secondary: rgba(0, 0, 0, 0.1);
$background-translucent-transparent: rgba(0, 0, 0, 0.65);

$font-color:#495057;

$border-color:#e0e0e0;
$border-color-secondary:#4a90e2;


$primary: #1976ff;
$primary-hover: #1976ff;
$danger: #e74c3c;
$danger-hover: #b91c1c;
$dark-blue: #111827;

$green:#2ecc71;
$yellow:#f1c40f;
